html 
{
    scroll-behavior: smooth;
}


.info
{
    background-color:  #32a852;
    color: #d4d4d4;
    border: 3px solid green;
    font-size: 120px;
    text-align: center;
    width: 100;
    padding: 100px 0;
}

.gridRow {
    border: 55px solid red;
}

.cell {
    border: 10px solid black;
    size: 100px;
    background: white;
    text-align: center;
}



.head {
    font-weight: bold;
    border: 1px solid #f18e8e;
    background: #ffbfbf;
  }