html 
{
    scroll-behavior: smooth;
}
body
{
    background: linear-gradient(46deg, #d32d10,#2bad89 );
}

.info
{
    background-color:  #32a852;
    color: #d4d4d4;
    border: 3px solid green;
    font-size: 120px;
    text-align: center;
    width: 100;
    padding: 100px 0;
    position: relative;
}

.gridRow {
    border: 55px solid transparent;
    width: auto;
}

.header
{
    border: 10px solid black;
    color: white;
    font-size: 50px;
    text-align: center;
    width: 324px;
}

.cell {
    border: 10px solid black;
    margin: 29px;
    font-size: 43px;
    background: linear-gradient(46deg, #b210d3,#4bc740 );
    color: white;
    text-align: center;
    padding: 100px 0;
    width: 240px;
}
.cellCurent
{
    border: 11px solid green;
    margin: 29px;
    font-size: 43px;
    background: linear-gradient(46deg, #440750,#235a1e );
    color: white;
    text-align: center;
    padding: 100px 0;
    width: 240px;
}


.clock
{
    text-align: right;
    font-size: 69px;
    position:absolute;
    top:0;
    right:0;
}

u
{
    display: inline-block;
    text-decoration: none;
    margin: auto;
    border-radius: 100;
    align-items: center;
}

li{
    display: inline-block;
    align-self: baseline;
    position: relative;
    top: 9px;
    left: 125px;
    margin-right: 4px;
    border-radius: 3;
 }